body {
    background-color: grey; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #74b9ff, #55efc4); /* Standard syntax (must be last) */
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
  }
.center2 {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    background: #74b9ff;
  }
  
.center2 {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    margin-top: 10%;
    background: #74b9ff;
  }

  .form{
      padding-top: 20px;
      text-align: center;
  }
